@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme: Blue */
.theme-blue {
    --dark1: #0A3D62;
    --dark2: #2d5a78;
    --dark3: #2E86C1;
    --light1: #D6EAF8;
    --navbarHover: #e8f2fa;
    --light2: #AED6F1;
    --light3: #85C1E9;
    --button: #3498DB;
    --buttonHover: #5DADE2;
    --bodyTextDark: #000000;
    --warningColor: #ef4444;
}

/* Theme: Green */
.theme-green {
    --dark1: #0D4D1A;
    --dark2: #1B5E20;
    --dark3: #388E3C;
    --light1: #E0F2F1;
    --light2: #81C784;
    --light3: #66BB6A;
    --button: #388E3C;
    --buttonHover: #66BB6A;
    --bodyTextDark: #000000;
    --warningColor: #ef4444;
}

/* Theme: Pink */
.theme-pink {
    --dark1: #880E4F;
    --dark2: #C2185B;
    --dark3: #D81B60;
    --light1: #F3E5F5;
    --light2: #F48FB1;
    --light3: #F06292;
    --button: #D81B60;
    --buttonHover: #F06292;
    --bodyTextDark: #000000;
    --warningColor: #ffbf00;
}

.theme-parchment {
    --dark1: #5f472e;
    --dark2: #866554;
    --dark3: #9e8069;
    --light1: #f8f7f4;
    --light2: #e9e1ce;
    --light3: #d4c4a8;
    --button: #A67C52;
    --buttonHover: #8C6B44;
    --bodyTextDark: #000000;
    --bodyTextLight: #FFFFFF;
    --formInput: #FFFFFF;
    --formInputDenied: #a5a5a5;
    --warningColor: #f98080;
    --warningText: #000000;
    --navbarHover: #FFDFA6;
}

/* Scroll Bar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
background: #888; 
}

::-webkit-scrollbar-thumb:hover {
background: #555; 
}