@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme: Blue */
.theme-blue {
    --dark1: #0A3D62;
    --dark2: #2d5a78;
    --dark3: #2E86C1;
    --light1: #D6EAF8;
    --light1hover: #e8f2fa;
    --light2: #AED6F1;
    --light3: #85C1E9;
    --button: #3498DB;
    --buttonhover: #5DADE2;
    --bodytext: #000000;
    --warningcolor: #ef4444;
}

/* Theme: Green */
.theme-green {
    --dark1: #0D4D1A;
    --dark2: #1B5E20;
    --dark3: #388E3C;
    --light1: #E0F2F1;
    --light2: #81C784;
    --light3: #66BB6A;
    --button: #388E3C;
    --buttonhover: #66BB6A;
    --bodytext: #000000;
    --warningcolor: #ef4444;
}

/* Theme: Pink */
.theme-pink {
    --dark1: #880E4F;
    --dark2: #C2185B;
    --dark3: #D81B60;
    --light1: #F3E5F5;
    --light2: #F48FB1;
    --light3: #F06292;
    --button: #D81B60;
    --buttonhover: #F06292;
    --bodytext: #000000;
    --warningcolor: #ef4444;
}

.theme-parchment {
    --dark1: #5f472e;
    --dark2: #866554;
    --dark3: #9e8069;
    --light1: #f8f7f4;
    --light2: #e9e1ce;
    --light3: #d4c4a8;
    --button: #A67C52;
    --buttonhover: #BF8E62;
    --bodytext: #3E3A33;
    --warningcolor: #ef4444;
}