@tailwind base;
@tailwind components;
@tailwind utilities;


input.error {
    border: 1px solid #e7195a;
}

/* Theme: Blue */
.theme-blue {
    --dark1: #0A3D62;
    --dark2: #1B4F72;
    --dark3: #2E86C1;
    --light1: #D6EAF8;
    --light1hover: #e8f2fa;
    --light2: #AED6F1;
    --light3: #85C1E9;
    --button: #3498DB;
    --buttonhover: #5DADE2;
    --bodytext: #000000;
}